extends registration_base
| {% load i18n %}

block title
	| Password reset

block content
	p We have sent you an email with a link to reset your password.  Please check your email and click the link to continue.