extends registration_base
| {% load i18n %}

block title
	| Confirm password reset

block content
	p Enter your new password below to reset your password
	form(method="post" action="")
		| {% csrf_token %}
		#{ form.as_p}
		input(type="submit" value = "Set password")
